<!DOCTYPE html>
<html lang="en">

<%- include ('../partials/head') %>

  <body class="d-flex flex-column min-vh-100">
    <%- include ('../partials/social') %>

      <%- include ('../partials/header') %>

        <main>
          <div class="row-md-8 text-center">
            <%- include ('../partials/product-create') %>
          </div>
          <div class="items" id="showRoom">
            <% showRoom.forEach(product=> { %>
              <article class="product">
                <div class="row-md-8 text-center editOptions">
                  <%- include ('../partials/product-edit') %>
                    <%- include ('../partials/product-delete') %>
                </div>
                <div>
                  <img src="/img/<%= product.img %>" width="100%" alt="<%= product.name %>">
                </div>
                <div class="details">
                  <p class="precio">
                    $<%= product.price %>MXN
                  </p>
                </div>
                <p class="descripcion">
                  <%= product.name %>
                </p>
              </article>
              <% }) %>
          </div>
        </main>

        <%- include ('../partials/footer') %>
          <script src="app.js"></script>
  </body>

</html>