<!DOCTYPE html>
<html lang="en">

<%- include ('../partials/head') %>

  <body class="d-flex flex-column min-vh-100">
    <%- include ('../partials/social') %>

      <%- include ('../partials/header') %>

        <main class="container">

          <!-- Left Column / Product Image -->
          <div class="left-column">
            <img src="/img/<%= item.img %>" alt="Producto Rúnir">
          </div>


          <!-- Right Column -->
          <div class="right-column">

            <!-- Product Description -->
            <div class="product-description">
              <h1>
                <%= item.name %>
              </h1>
              <p>
                <%= item.description %>
              </p>
            </div>

            <!-- Product Pricing -->
            <div class="product-price">
              <span>$<%= item.price %> MXN</span>
              <a href="#" class="cart-btn">Agregar al carrito</a>
            </div>
          </div>
        </main>

        <%- include ('../partials/footer') %>

  </body>

</html>