<!DOCTYPE html>
<html lang="en">

<%- include ('../partials/head') %>

  <body class="d-flex flex-column min-vh-100">
    <%- include ('../partials/social') %>

      <%- include ('../partials/header') %>

        <h1>
          ¡ODDÍN! ¡MUÉSTRANOS EL CAMINO!
        </h1>
        <h2>
          <%= error.status %>
        </h2>
        <p>Se ha producido un error tratando de ingresar a: <b>
            <%= path %>
          </b></p>
        <pre><i><%= error.stack %></i></pre>

        <%- include ('../partials/footer') %>

  </body>

</html>