<!DOCTYPE html>
<html lang="en">

<%- include 'partials/head' %>

  <body class="d-flex flex-column min-vh-100">
    <%- include 'partials/social' %>

      <%- include 'partials/header' %>

        <%- include 'partials/offers' %>

          <main>
            <div class="items" id="showRoom">
              <% showRoom.forEach(product=> { %>
                <a class="product" href="/detalle/<%= product.id %>">
                  <article>
                    <div>
                      <img src="/img/<%= products.img %>" width="100%" alt="<%= product.title %>">
                    </div>
                    <div class="details">
                      <p class="precio">
                        $<%= product.price %>MXN
                      </p>
                    </div>
                    <p class="descripcion">
                      <%= product.title %>
                    </p>
                  </article>
                </a>
                <% }) %>
            </div>
          </main>

          <%- include 'partials/footer' %>

  </body>

</html>