<!DOCTYPE html>
<html lang="en">

<%- include ('../partials/head') %>

  <body class="d-flex flex-column min-vh-100">
    <%- include ('../partials/social') %>

      <%- include ('../partials/header') %>

        <!-- All products -->
        <main>
          <div class="col-12">
            <h2 class="products-title" style="text-align: center;">Resultados de la búsqueda <%= search %>
            </h2>
          </div>
          <div class="items" id="showRoom">
            <% if (resultProducts.length> 0) {
              resultProducts.forEach(product => {
              %>
              <a class="product" href="./detail/<%= `${product.product_id}/` %>">
                <article>
                  <div>
                    <img src="/img/<%= product.img %>" width="100%" alt="<%= product.title %>">
                  </div>
                  <div class="details">
                    <p class="precio">
                      $<%= product.price %>MXN
                    </p>
                  </div>
                  <p class="descripcion">
                    <%= product.title %>
                  </p>
                </article>
              </a>
              <% })} else { %>
                <div class="col-12">
                  <h2 class="products-title" style="color: tomato; text-align:center;">No hay productos que coincidan
                    con esa búsqueda
                  </h2>
                </div>
                <% } %>
          </div>
        </main>
        <!-- /All products -->

        <!-- footer -->
        <%- include ('../partials/footer') %>
          <!-- /footer -->
  </body>

</html>